@use "../_variables" as *;
@use "sass:color";

.dropdown
{
    position: absolute;
    z-index: 1000;
    bottom: 105%;
    background: $primary;
    border-radius: 4px;
    opacity: 0.85;
    max-height: 300px;
    overflow-y: hidden;

    .dropdown-menu
    {
        list-style: none;
        margin: 0;
        padding: 0;

        .dropdown-item
        {
            padding: 10px 20px;
            cursor: pointer;

            &:hover
            {
                background: #2f2f33;
                ;
            }
        }
    }
}