@use "../_variables" as *;

.film-list-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 80vw;

    h2
    {
        align-self: center;
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 0px;
        color: white;
    }

    .film-list
    {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 0px;
        align-items: center;
        justify-content: center;

        &.small
        {
            gap: 10px 10px;

            .film-tile
            {
                width: 105px;
                height: 175px;
                border-radius: 5px;

                .title
                {
                    font-size: 12px;
                }

                .image-wrapper:before
                {
                    border-radius: 8.7px;
                }

                .image-wrapper
                {
                    width: 105px;
                    height: 175px;

                    .film-tile-img
                    {
                        border-radius: 5px;
                    }
                }

                .film-tile-action
                {
                    right: 5px;
                }

                .film-tile-ratings
                {

                    .film-tile-rating
                    {
                        margin: 0px 1px;
                        padding: 3px 0px;
                    }

                    img
                    {
                        display: flex;
                        width: 12px;
                        height: 12px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .loading-placeholder
    {
        width: 100%;
        height: 520px;
        border-radius: 8px;
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        justify-content: center;
        background: $primary;
    }
}