.google-login
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .google-login-btn
    {
        img
        {
            width: 18px;
            height: 18px;
            margin-bottom: 2px;
            vertical-align: middle;
            display: inline-block;
        }
    }
}