@use "../_variables" as *;

.modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $secondary;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &.large
    {
        width: 80vw;
        height: 90vh;

        .modal-content
        {
            overflow-y: scroll;
        }
    }

    &.medium
    {
        width: 60vw;
        height: 70vh;

        .modal-content
        {
            overflow-y: scroll;
        }
    }

    .modal-title
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 22px;
        padding: 15px 0px;
        font-weight: bold;
        color: white;
        border-bottom: 1px solid #0d0d0d;

        .back-button
        {
            position: absolute;
            left: 20px;
            padding: 10px 15px;

            &:hover
            {
                color: rgba(white, 0.7);
                transition: color 0.25s ease-in-out;
            }
        }

        .close-button
        {
            position: absolute;
            top: 6px;
            right: 20px;
            font-size: 30px;
            color: white;
            cursor: pointer;
            z-index: 10;
            transition: color 0.25s ease-in-out;

            &:hover
            {
                color: rgba(white, 0.3);
                transition: color 0.25s ease-in-out;
            }
        }
    }

    .modal-content
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 5px;
        overflow-x: hidden;
        box-sizing: border-box;
    }
}

#modalContainer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

    &.front
    {
        z-index: 99999;
    }
}